.container{
    width: 100%;
    height: 160px;
    padding-bottom: 40px;
    background-color: #5964E0;
    border-radius: 0px 0px 0px 100px;
    background-image: url('./images/bg-pattern-header.svg');
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    width: 1110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 115px;
    object-fit: contain;
    cursor: pointer;
}

@media(max-width: 1200px){
    .content{
        width: 90%;
    }
}

@media(max-width: 1000px){
    .container{
        background-image: url('./images/bg-pattern-header-tablet.svg');
        background-repeat: no-repeat;
        background-size: cover;
    }
}


@media(max-width: 760px){
    .container{
        border-radius: 0px;
        height: 136px;
        background-image: url('./images/bg-pattern-header-mobile.svg');
    }
}