@font-face {
    font-family: 'kumbh sans';
    src: url('./Common/Fonts/KumbhSans-VariableFont_YOPQ\,wght.ttf');
}

:root{
    --font: 'kumbh sans';    
    --closest: 100;
    --close: 75;
    --far: 50;
    --farthest: 25;
}

* {
    padding: 0px;
    margin: 0px;
    transition: all 0.2s linear;
    box-sizing: border-box;
    border: none;
}

body{
    min-height: 100vh;
}