.container{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 16px;
    margin: 0px 0px 24px 24px;
}

.checkbox{
    width: 24px;
    height: 24px;
    border-radius: 3px;
    background-color: rgba(25, 32, 45, 0.1);
    cursor: pointer;
}

.checkbox.dark{
    background-color: rgba(255, 255, 255, 0.1);
}

.checkbox.light{
    background-color: rgba(25, 32, 45, 0.1);
}

.invisibleCheckbox{
    display: none;
}

.checkmark{
    display: none;
    width: 24px;
    object-fit: contain;
}   

.invisibleCheckbox:checked ~ .checkmark{
    display: block;
} 

.title{
    font-family: var(--font);
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.title.dark{
    color: white;
}

.title.light{
    color: #19202D;
}